.header{
    @include setFlex(row, start, center);
    width: 100%;
    height: 300px;

    //temporaire !!!
    background-color: darkolivegreen;

    &>.wrapLogo{
        width: 200px;
        margin-left: 50px;

        &>img{
            width: 100%;
            object-fit: contain;
        }
    }
}