// = = = = = = = = = = = = = = = = = = = = = = = = =
//  Auteur : Olivier Daigneault
// = = = = = = = = = = = = = = = = = = = = = = = = =

:root{
    --yellow: #EFB749;
    --green: #8DA75E;
    --pink: #DC8DBB;
    --blue: #93B4C3;
}