.wrap-commande{
    @include setFlex(row, space-around, center);
    position: relative;
    width: 100%;
    margin-top: 50px;
    z-index: 10;
    
    //temporaire!!!
    // background-color: rgb(218, 218, 218);

    &>.wrapInfo{
        position: relative;
        top: 200px;
        width: 40%;
        color: white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: var(--pink);

        &>h3{
            font-size: 4em;
        }
        &>p{
            position: relative;
            left: 1em;
            font-size: 2em;
        }

    }
    
    &>.wrapForm{
        width: 40%;
        
        &>form{
            @include setFlex(column, center, center);

            &>*{
                width: 100%;
                padding: 1em;
                border-radius: 10px;
                border: solid 3px var(--green);
            }
            &>textarea{
                height: 200px;
            }
        }
    }

    &>.bgi{
        position: absolute;
        top: 85%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        z-index: -1;
    }
}