.grid-meal{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
    
    //temp
    background-color: fuchsia;
    
    &>.grid{
        @include setFlex(row, space-around, start);
        position: relative;
        margin: 0 auto;
        padding: 50px 0;
        width: 100%;

        &>.groupe1{
            position: relative;
            width: 15%;
            margin-top: 300px;

            //temporaire !!!
            background-color: cadetblue;

            &>.meal1{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            &>.meal2{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        &>.groupe2{
            position: relative;
            width: 15%;
            margin-top: 200px;
            
            //temporaire !!!
            background-color: coral;

            &>.meal1{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            &>.meal2{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        &>.groupe3{
            position: relative;
            width: 15%;
            margin-top: 100px;

            //temporaire !!!
            background-color: cadetblue;

            &>.meal1{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            &>.meal2{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        &>.groupe4{
            position: relative;
            width: 15%;
            margin-top: 0;

            //temporaire !!!
            background-color: coral;

            &>.meal1{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            &>.meal2{
                position: relative;
                width: 100%;

                &>h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &>.wrapImg{
                    width: 100%;

                    &>img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}